<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= link_to "Author", posts_path(sort: "author") %></th>
      <th scope="col"><%= link_to "Title", posts_path(sort: "title") %></th>
      <th scope="col"><%= link_to "Language", posts_path(sort: "language") %></th>
      <th scope="col">Tags</th>
      <th scope="col"><%= link_to "Likes", posts_path(sort: "likes") %></th>
    </tr>
  </thead>
  <tbody>
  <%@posts.each_with_index do |p, i|%>
    <tr>
      <th scope="row"><%=i+1%></th>
      <td><%=p.user.name%></td>
      <td><%=link_to p.title, post_path(p)%></td>
      <td><%=p.language.name%></td>
      <td><%=p.show_tags%></td>
      <td><%=p.likes.count%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<%if @posts.blank?%>
  <p>No posts to show here</p>
<%end%>




