<% if flash[:notice] %>
    <h1><div class="notice"><%= flash[:notice] %></div></h1>
  <% end %>


<h1>Title: <%= @post.title%></h1><br>
<h2>Description: <%= @post.description%></h2><br>
<h2>Contend: <%= @post.content%></h2><br>
<h2>Likes: <%= @post.likes%></h2><br>
<h2>Language: <%= @post.language.name%></h2><br>
<h2>User: <%= link_to @post.user.name, user_path(@post.user)%></h2><br>
<ul>
<h2>Tags: <%@post.tags.each do |t|%></h2><br>
<li><%=t.name%></li>
<%end%>
</ul>