<%= render 'error'%>
<% if flash[:notice] %>
    <h1><div class="notice"><%= flash[:notice] %></div></h1>
<% end %>


<h1>Title: <%= @post.title%></h1><br>
<h2>Description: <%= @post.description%></h2><br>
<h2>Content: <%= @post.content%></h2><br>

<h2>Language: <%= @post.language.name%></h2><br>
<h2>User: <%= link_to @post.user.name, user_path(@post.user)%></h2><br>
<h2>Tags: <%@post.tags.each do |t|%></h2><br>
<ul>
    <li><%=t.name%></li>
</ul>
<%end%>
<% pre_like = @post.likes.find { |like| like.user_id == @user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>

<%end%>

<p><%=@post.likes.count%> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'  %></p>
<h1>Comments in the post</h1>

<% @comments.each do |comment|%>
   <p>
       user: <%= User.find(comment.user_id).name%> | Created on <%=comment.created_at.strftime("%d-%B-%Y  -  %H:%M")%>  <br>
       comment: <%=comment.content%>
   </p>
<%end%>

<h1>Write a comment on the post</h1>
<%= form_tag ({controller: 'posts', action: 'add_comment', method: 'post'}) do %>
    <textarea name="comment" id="comment_text_area" cols="30" rows="10"></textarea><br>
  <input type=submit value='add comment'>
<% end %><br><br>

<%if (@post.user_id == @user.id) || @user.is_admin%>
  <%= button_to  "Delete Post", @post, method: :delete %>
<%end%>