<!DOCTYPE html>
<html>
  <head>
    <title>Code Repository</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%if !!session[:user_id]%>
        <a href="/users">all the users</a> ||
        <a href="/users/new">Create a new User</a> ||
        <a href="/posts/new">Create a new post</a> ||
        <a href="/posts">all the posts</a> ||
        <%=button_to "logout", controller: 'sessions', action: 'destroy', method: :post%>
        <br><br>
      <%end%>
    </nav>
    <%= yield %>
  </body>
</html>
