<!DOCTYPE html>
<html>
  <head>
    <title>Code Repository</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
 <style>
.bar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E90FF;
}

li {
  float: left;
}

#outset {
  border-style: outset;
    border-width: 5px;
    width: 50%;
    position: auto;

  }

.like-button {

}

.container-show {
  margin: 2px 100px 75px 40px;
    border: ;
    padding: 0px 0px 0px 0px;

}

/* .container-tags {
 position: float-right;
} */
/*  */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #00BFFF;
}
</style>
 
  </head>

  <body>
  <%if !!session[:user_id]%>
        <ul class="bar-list">
           <li class="">
            <a class="nav-link" href=''>User: <%=User.find(session[:user_id]).name%></a>
          </li>

          <li class="">
            <a class="nav-link" href="/">Home</a>
          </li>

          <%if User.find(session[:user_id]).is_admin%>
          <li class="">
            <a class="nav-link" href="/users">Show All Users</a>
          </li>
          <%end%>

          <li class="">
            <a class="nav-link" href="/posts">Show All Posts</a>
          </li>
          <li class="">
      
            <a class="nav-link" href="/posts/new">Create New Post</a>
          </li>
      
          </li>
          <div  class="float-right">
          <li><%= button_to "logout", {controller: 'sessions', action: "destroy", method: :post}, {class: ' btn btn-primary  my-2 my-sm-0'} %></li>
          </div>
        </ul>
         
      </div>
    </nav>
  <%end%>

    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
